.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@media (max-width: 1200px) {
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
}
.featured-products-container {
    min-width: 68.3%;
    padding-right: 25px;
    max-width: 100%;
}
.featured-products-container:hover .featured-products__arrows {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
@media (max-width: 1200px) {
    .featured-products-container {
        width: 100%;
        padding: 0;
    }
}
.featured-products__title {
    font-size: 30px;
}
.italic-title {
    text-align: center;
    border: none;
    margin: 0 auto 30px;
    padding: 0 0 10px;
    color: #000;
    font-family: 'Lobster', cursive;
    font-weight: normal;
    font-size: 50px;
    text-transform: capitalize !important;
    letter-spacing: 0.2px;
}
@media (max-width: 1200px) {
    .italic-title {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 10px;
    }
}
.featured-products-carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}
.featured-products-carousel__list {
    width: 45%;
}
@media (min-width: 320px) and (max-width: 767px) {
    .featured-products-carousel__list {
        width: 100%!important;
        max-width: 100%;
        min-width: 100%;
    }
}
.featured-products__arrows {
    width: 80px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin: 0 auto 20px;
    display: flex;
    justify-content: space-between;
}
.featured-products__arrow {
    width: 35px;
    height: 35px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    position: relative;
}
.featured-products__arrow:before {
    position: absolute;
    font-family: FontAwesome;
    font-size: 20px;
    color: inherit;
    top: 5px;
}
.featured-products__arrow--left:before {
    content: '\f104';
    left: 10px;
}
.featured-products__arrow--right:before {
    content: '\f105';
    right: 10px;
}
.featured-products__arrow:hover {
    background-color: #6ea820;
}
.featured-products__arrow:hover:before {
    color: #fff;
}
.featured-products__decor {
    min-width: 30%;
    max-width: 31%;
    height: auto;
}

.featured-products__decor-link {
    display: block;
    width: 100%;
    height: 100%;
}

.featured-products__decor-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

@media (max-width: 1200px) {
    .featured-products__decor {
        display: none;
    }
}
.featured-products-carousel__item {
    padding: 10px;
    box-sizing: border-box;
}
.featured-products-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}
.featured-product-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #e6e6e6;
    margin-right: 40px;
    position: relative;
}
@media (max-width: 1200px) {
    .featured-product-card {
        margin-right: 20px;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .featured-product-card {
        margin-right: 0;
    }
}
.featured-product-card .product-block-content {
    width: 100%;
}
.featured-product-card .product-block__title {
    margin: 0;
    border: none;
    padding: 0;
}
.featured-product-card .rating-block {
    padding-top: 10px;
}
@media (max-width: 1200px) {
    .featured-product-card .rating-block {
        padding-bottom: 5px;
    }
}
.featured-product-card .product-options {
    right: 0;
    bottom: 13px;
}
.featured-product-card:hover .product-options {
    opacity: 1;
}
.featured-product-card:hover .sale-sticker {
    opacity: 1;
    left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.featured-product-card__link {
    display: block;
    width: 160px;
    height: 135px;
    margin-right: 15px;
}
@media (min-width: 320px) and (max-width: 767px) {
    .featured-product-card__link {
        max-width: 130px;
    }
}
.featured-product-card__link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
