.order-page {
    padding: 30px 15%;
    display: flex;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .order-page {
        padding: 30px 10%;
        justify-content: space-between;
    }
}
@media (max-width: 767px) {
    .order-page {
        padding: 30px 10px;
    }
}
.order-page .l-row {
    background-color: #fff;
    width: 100%;
}
.order-page .l-row .payment-form-block {
    width: 100%;
}

.order-page .l-row .payment-form-block input {
    color: #333;
    display: block;
    padding: 5px 15px;
    font-size: 14px;
    border: 2px solid #e6e6e6;
    font-family: 'Exo 2', sans-serif;
    background-color: #fff;
}

.order-page .l-row .payment-form-block input:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}

.cart-form .cart-table {
    width: 100%;
}

.c-table td {
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
}

.order-page .btn {
    color: #333;
    display: block;
    padding: 5px 15px;
    font-size: 14px;
    border: 2px solid #e6e6e6;
    background-color: #fff;
    margin: 20px 0;
}

.order-page .btn:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}
.order-page .l-col {
    width: 100%;
    margin-right: 30px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 15px;
}

.checkout-form-wrapper {
    width: 40%;
    box-sizing: border-box;
}

.payment-option {
    position: sticky;
    top: 0;
}

.order-block {
    padding: 15px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.c-order__title {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
}
.order-block {
    color: #262626;
    font-size: 14px;
    font-weight: 400;
}

.order-block li {
    padding: 5px 0;
    position: relative;
    box-sizing: border-box;
}

.order-block .noneactive {
    display: flex;
}

.icon-payment {
    position: absolute;
}

.c-form label {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
}
.c-form label [type='radio'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.c-form label:before {
    display: block;
    min-width: 15px;
    max-width: 15px;
    min-height: 15px;
    max-height: 15px;
    margin-right: 15px;
    content: '';
    border: 1px solid #dadada;
    background: #fff;
    -webkit-box-shadow: inset 0 0 0 2px #fff;
    box-shadow: inset 0 0 0 2px #fff;
}
.c-form label.active:before {
    background: url(../img/tick.svg);
}
.hasDatepicker {
    padding: 10px;
}
.ui-datepicker {
    min-width: 240px !important;
}

.order-block input,
.order-block textarea,
.order-block select {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #262626;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Exo 2', sans-serif;
}

.c-order-field__title {
    margin: 0;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
}
.c-order-field__title + select {
    padding: 10px;
    background-color: #fff;
    color: #262626;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Exo 2', sans-serif;
}

.order-summ span,
.delivery-summ {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--main-color);
}

@media (min-width: 768px) and (max-width: 1200px) {
    .order-page .cart-table tr {
        display: flex;
        flex-direction: column;
    }
    .cart_form .amount_change {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cart_form button {
        height: 40px;
    }
    .cart_form input {
        height: 35px;
    }

    .cart_form button::before {
        top: 10px;
    }
    .c-table td {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: none;
    }

    .c-table__total {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .order-page .l-col {
        margin-right: 10px;
    }

    .checkout-form-wrapper {
        width: 50%;
    }
    .order-page .deleteItemFromCart {
        padding: 5px;
    }
}

@media (max-width: 767px) {
    .order-page {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
    .order-page .l-col {
        width: 90%;
        margin-right: 0;
        box-sizing: border-box;
    }
    .checkout-form-wrapper {
        width: 90%;
        box-sizing: border-box;
    }
    .cart-table {
        width: 100%;
        margin: 0;
    }

    .cart_form .amount_change {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cart-table {
        box-sizing: border-box;
    }
}
.order-agreement .agreement__label {
    position: relative;
    padding: 10px 0;
    line-height: 1.4;
}

.agreement__label [type='checkbox'] {
    position: absolute;
    top: 15px;
    left: 0;
    height: 100% !important;
    opacity: 0;
}
.order-agreement .agreement__label span {
    padding-left: 40px;
}
.order-agreement .agreement__label span::before {
    display: block;
    min-width: 15px;
    max-width: 15px;
    min-height: 15px;
    max-height: 15px;
    margin-right: 15px;
    content: '';
    border: 1px solid #dadada;
    background: #fff;
    -webkit-box-shadow: inset 0 0 0 2px #fff;
    box-shadow: inset 0 0 0 2px #fff;
    position: absolute;
    top: 15px;
    left: 0;
}
.agreement__label [type='checkbox']:checked + span::before {
    background: url(../img/tick.svg);
}
.order-agreement .agreement__label::before {
    display: none;
}

.disabled,
[disabled] {
    pointer-events: none;
    opacity: 0.5;
}

.mg-error {
    color: red;
    border: 1px solid red;
    margin-bottom: 20px;
    background-color: #fff;
}

.deliveryPrice,
.deliveryCurrency {
    color: var(--main-color);
}

.delivery-price-block {
    display: flex;
}

.c-order__checkbox [type='checkbox'] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100% !important;
    opacity: 0;
}
