.product-compare {
    margin: 0!important;
    position: relative;
}

.product-compare__link {
}

.c-compare__link--count {
    position: absolute;
    top: 0;
    right: 0;
}

.c-compare__link:hover .c-compare__link--text {
    text-decoration: underline;
}