.product-container__right .product-compare {
    margin: 0;
    position: relative;
}

.c-compare__link--count {
    position: absolute;
    top: 0;
    right: 0;
}

.c-compare__link:hover .c-compare__link--text {
    text-decoration: underline;
}

.filterboard .product-compare {
    position: relative;
    margin: 0 20px 0 0;
    width: 100px;
}
