/* Избранное */
.mg-add-to-favorites,
.mg-remove-to-favorites {
    color: var(--main-color-green);
    border: 1px solid var(--main-color-green);
    background-color: #fff;
    font-size: 15px;
    padding: 12px 15px;
    margin-right: 10px;
    text-transform: uppercase;
}

.mg-add-to-favorites:hover,
.mg-remove-to-favorites:hover {
    color: #afafaf;
    border-color: #afafaf;
}


.c-goods__item:hover .mg-add-to-favorites,
.c-goods__item:hover .mg-remove-to-favorites {
    opacity: 1;
    visibility: visible;
}

.mg-add-to-favorites svg,
.mg-remove-to-favorites svg {
    width: 15px;
    height: 15px;
    vertical-align: sub;
    margin-right: 4px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.mg-add-to-favorites svg,
.mg-remove-to-favorites:hover svg {
    stroke: #333;
    fill: #fff;
}

.mg-add-to-favorites:hover svg,
.mg-remove-to-favorites svg {
    stroke: #ffd325;
    fill: #ffc107;
}

.remove__hover {
    display: none;
    width: 87px;
    text-align: center;
}

.mg-remove-to-favorites--product .remove__hover {
    width: 102px;
}

.mg-remove-to-favorites:hover .remove__text {
    display: none;
}

.mg-remove-to-favorites:hover .remove__hover {
    display: inline-block;
}
