/* Избранное */
.c-buy__buttons .mg-add-to-favorites,
.c-buy__buttons .mg-remove-to-favorites {
    color: var(--main-color-green);
    border: 1px solid var(--main-color-green);
    background-color: #fff;
    font-size: 15px;
    padding: 12px 15px;
    margin-right: 10px;
    text-transform: uppercase;
}

.mg-add-to-favorites:hover,
.mg-remove-to-favorites:hover {
    color: #afafaf;
    border-color: #afafaf;
}

.mg-add-to-favorites svg,
.mg-remove-to-favorites svg {
    width: 15px;
    height: 15px;
    vertical-align: sub;
    margin-right: 4px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    display: none;
}


.mg-add-to-favorites:hover svg,
.mg-remove-to-favorites svg {
    display: none;
    stroke: #ffd325;
    fill: #ffc107;
}

.remove__hover {
    display: none;
    width: 87px;
    text-align: center;
}

.mg-remove-to-favorites--product .remove__hover {
    width: 102px;
}

.mg-remove-to-favorites:hover .remove__text {
    display: none;
}

.mg-remove-to-favorites:hover .remove__hover {
    display: inline-block;
}


.product-options__item--wishlist a {
    width: 25px!important;
    height: 25px!important;
    border: none!important;
    padding: 0;
    font-size: 0;
    position: relative;
    background-color: transparent;
    display: none;
}

.product-options__item--wishlist .mg-add-to-favorites {
    display: block!important;
}

.product-options__item--wishlist .mg-remove-to-favorites {
    display: none!important;
}


.product-options__item--wishlist a svg {
    display: inline-block;
    position: absolute;
    top: 6px;
    fill:  #878787;
}

.product-options__item--wishlist a:hover svg {
    fill: var(--main-color-green);
    display: block;
}