.sizeMap-row span {
    margin-right: 20px;
    color: #000;
    font-weight: 400;
}

.sizeMap-row .size {
    display: inline-block;
    width: 31px;
    height: 31px;
    margin: 10px 5px 5px 0;
    padding: 2px 5px 5px 5px;
    cursor: pointer;
    text-align: center;
    border: 2px solid #e6e6e6;
}

.sizeMap-row .size span {
    margin-right: 20px;
    color: #000;
    font-weight: 400;
}

.sizeMap-row .size.active,
.sizeMap-row .color.active {
    border-color: var(--main-color) !important;
}

.product-block .color-block {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

.product-block .color-block span,
.product-block .size-block span {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.color-block span {
    margin-right: 20px;
    color: #000;
    font-weight: 400;
}

.sizeMap-row .color {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 20px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    border: 2px solid #e6e6e6;
}

.product-block .color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.product-wrapper .rating-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.product-wrapper .sizeMap-row .color,
.product-wrapper .sizeMap-row .size {
    display: inline-block;
    width: 10px !important;
    height: 10px;
    margin: 0 2px 3px 0;
    padding: 3px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #e6e6e6;
    line-height: 13px;
    overflow: hidden;
}

.product-wrapper .sizeMap-row .size-block > span,
.product-wrapper .sizeMap-row .color-block > span {
    display: none;
}

.c-goods--list .sizeMap-row {
    float: left;
}

.sizeMap-row .color {
    background: -webkit-linear-gradient(
        top left,
        rgba(255, 255, 255, 0.25),
        rgba(0, 0, 0, 0.125)
    );
    background: -o-linear-gradient(
        top left,
        rgba(255, 255, 255, 0.25),
        rgba(0, 0, 0, 0.125)
    );
    background: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from(rgba(255, 255, 255, 0.25)),
        to(rgba(0, 0, 0, 0.125))
    );
    background: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.25),
        rgba(0, 0, 0, 0.125)
    );
}

.sizeMap-row .color,
.sizeMap-row .size,
.c-filter .color-filter .cbox {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.sizeMap-row .color:hover,
.sizeMap-row .size:hover {
    border-color: #656060;
}

.size.inactive:before {
    left: -2px;
    top: 47%;
    content: '';
    width: 117%;
    height: 1px;
    position: absolute;
    background: #4a4848;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

.size.inactive {
    background: #eaeaea;
    color: #817f7f;
    position: relative;
}

.sizeMap-row span {
    font-size: 16px;
}

@media screen and (max-width: 767px) {
    .sizeMap-row span {
        font-weight: 400;
    }

    .l-container .l-row .color-block > .color,
    .l-container .l-row .size-block > .size {
        font-size: 19px;
        line-height: 27px;
        min-width: 30px;
        height: 30px;
        margin-top: 0;
        padding: 0;
    }
}

@media screen and (max-width: 450px) {
    .color-block,
    .size-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.product-block .size {
    padding: 0;
    border-radius: 50%;
    margin: 0;
    margin-right: 5px;
}

.product-block .size span {
    font-size: 10px;
    margin: 0;
    position: static;
}

.product-block .c-variant__scroll label {
    position: relative;
}

.product-block .c-variant__value {
    margin-left: 20px;
}

@media (max-height: 1024px) {
    .product-block .color-block {
        padding: 20px 0;
    }
    .product-block .color {
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .product-block .size {
        margin-right: 20px;
        margin-bottom: 10px;
    }
}
