.cart_form {
    width: auto;
    height: 40px;
}

.c-buy {
    display: flex;
    justify-content: space-between;
}

.c-buy__buttons {
    display: flex;
}

.amount_change {
    display: flex;
    width: 100%;
}

.amount_change input {
    max-width: 55px;
    height: 30px;
    padding: 0 5px;
    text-align: center;
}

.amount_change button {
    position: relative;
    height: 35px;
    width: 40px;
    border: none;
    background-color: transparent;
    outline-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amount_change button svg {
    fill: #000;
    height: 50%;
    width: 50%;
}

.amount_change button:hover svg {
    fill: var(--main-color-green);
}
