.cart_form {
    width: auto;
    height: 40px;
}

.product-block .cart_form {
    margin-top: 10px;
}

.c-buy {
    display: flex;
    justify-content: space-between;
}

.c-buy__buttons {
    display: flex;
}

.amount_change {
    display: flex;
    width: 100%;
}

.product-block .amount_change {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

@media (max-width: 767px) {
    .product-block .amount_change {
        margin-top: 100px !important;
    }
}

.amount_change input {
    max-width: 55px;
    height: 30px;
    padding: 0 5px;
    text-align: center;
}

.amount_change button {
    position: relative;
    height: 35px;
    width: 40px;
    border: none;
    background-color: transparent;
    outline-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amount_change button svg {
    fill: #000;
    height: 50%;
    width: 50%;
}

.amount_change button:hover svg {
    fill: var(--main-color);
}

.products-block__list--list .amount_change {
    justify-content: flex-start;
}
