.second-scroll {
    margin-bottom: 10px;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
}

.second-scroll__wrap {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* c-compare
------------------------------------------------------------------- */
.c-compare {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 70px 16px 0;
    width: 100%;
    height: 100%;
    background: #fff;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden auto;
    box-sizing: border-box;
}

@media screen and (max-width: 425px) {
    .c-compare {
        padding: 70px 0 0;
    }
}

.c-compare__top {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #dadada;
    background: #f3f3f3;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.c-compare__top__select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.c-compare__top__select select {
    color: #333;
    padding: 10px 15px;
    background-color: #fff;
    border: solid 2px #e6e6e6;
}

.c-compare__top__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 120px;
}

.c-compare__top__buttons > a {
    color: #333;
    display: block;
    padding: 5px 15px;
    font-size: 14px;
    border: 2px solid #e6e6e6;
    background-color: #fff;
}

.c-compare__top__buttons > a:hover {
    color: var(--main-color);
    border-color: var(--main-color);
    background-color: #fff;
}

@media (max-width: 767px) {
    .c-compare__top__buttons {
        padding-right: 20px;
    }
}
.c-compare__top__buttons > a:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}

.c-compare__top__buttons .icon {
    font-size: 12px;
    margin-top: -1px;
    margin-right: 5px;
}

.c-compare__left {
    position: relative;
    width: 45%;
    height: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.c-compare__right {
    min-width: 40%;
    max-width: 55%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    overflow: auto;
}

.c-compare__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.c-compare__item {
    overflow: hidden;
    min-width: 225px;
    max-width: 225px;
    min-height: 300px;
    max-height: 300px;
    margin: 0;
    margin-right: 10px;
    box-sizing: border-box;
}

.c-compare__img {
    height: 140px !important;
}

.c-compare__property {
    display: none;
}

.c-compare__table {
    font-size: 12px;
    line-height: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.c-compare__table__left {
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
}

.c-compare__table__left .c-compare__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.c-compare__table__left .c-compare__column {
    font-weight: 600;
    width: 100%;
    text-transform: uppercase;
}

.c-compare__table__right .c-compare__column {
    min-width: 225px;
    max-width: 225px;
}

@media (max-width: 767px) {
    .c-compare__table__right .c-compare__column {
        min-width: 185px;
        max-width: 185px;
    }
}

.c-compare__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.c-compare__column {
    line-height: 1.2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 35px;
    margin-top: 6px;
    margin-right: 12px;
    padding: 2px 10px;
    border-bottom: 1px solid #dadada;
    background: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
}

.c-compare__remove {
    text-align: right;
}

.c-compare__remove:hover {
    color: #cd4449;
}

.c-compare__right .c-goods__right > * {
    margin-top: 0;
}

.c-compare .c-goods__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-height: 65px;
}

.mg-compare-products .mg-tooltip .mg-tooltip-content {
    position: absolute;
    z-index: 111;
    text-align: left;
    padding: 5px 8px;
    border-radius: 5px;
    background: #fff;
    top: 100%;
    left: 10px;

    color: #000;
    font-size: 12px;
    line-height: 19px;
    box-shadow: 0 1px 23px 1px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
    white-space: normal;
    width: 200px;
}

.mg-compare-products .mg-tooltip:hover .mg-tooltip-content {
    display: block !important;
}

.mg-compare-products .mg-tooltip:hover {
    color: #9e9999;
    border: 1px solid #9e9999;
}

.mg-compare-products .mg-tooltip {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 0;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    color: #1391c7;
    font-size: 9px;
    line-height: 14px;
    text-align: center;
    font-weight: normal;
    border: 1px solid #1391c7;
    cursor: pointer;
}

.c-compare__column {
    position: relative;
}

.mg-compare-fake-table-cell.with-tooltip .mg-tooltip {
    right: 5px;
    left: auto;
}

.mg-compare-fake-table-cell.with-tooltip .mg-tooltip {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.l-body_overflow_hidden {
    overflow: hidden;
}

.c-compare__right .c-goods__right > * {
    margin-top: 0;
}

.mg-compare-product .c-goods__price--old,
.mg-compare-product .c-goods__price--current {
    font-size: 16px;
}

@media screen and (max-width: 425px) {
    .c-compare__column {
        height: 45px;
    }

    .compare-text {
        font-size: 11px;
        max-width: 100%;
        overflow: hidden;
    }

    .c-goods__title {
        font-size: 15px;
    }

    .c-goods__price--current {
        font-size: 15px;
    }

    .c-compare__item {
        overflow: hidden;
        min-width: 185px;
        max-width: 185px;
        min-height: 300px;
        max-height: 300px;
    }

    .c-compare__table__left {
        top: 300px;
    }

    .c-compare__top__buttons > a {
        margin-left: 10px;
        margin-top: 0 !important;
    }
}

.c-goods__img {
    width: 100%;
    height: 140px;
    display: block;
}

.c-goods__img img {
    position: static;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.c-goods__item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
}

.c-goods__left {
    padding: 10px;
    box-sizing: border-box;
}

.c-goods__right {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.c-compare__remove {
    width: 20px;
    height: 20px;
    display: block;
}

.c-compare__remove svg {
    width: 20px;
    height: 20px;
    fill: #000;
}

.c-compare__remove:hover svg {
    fill: var(--main-color);
}

.c-goods__price--current {
    display: block;
    margin-bottom: 8px;
    line-height: 22px;
    font-size: 15px;
    font-weight: 600;
    padding-top: 10px;
    color: var(--main-color);
}

.c-goods__title {
    color: #000;
}
.compare-page {
    padding: 30px 15%;
    background-color: #f7f7f7;
    position: relative;
    min-height: 100vh;
}
.compare-empty {
    padding: 15px;
    background-color: #fff;
}
.compare-empty span {
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
}

.compare-page ::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 5px;
    height: 0px;
}

.compare-page ::-webkit-scrollbar-track {
    background-color: #dadada;
}

.compare-page ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: var(--main-color);
}

.compare-page ::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
}

.compare-page ::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}
