/* c-apply
------------------------------------------------------------------- */

.filter-apply-wrapper {
    margin-top: 50px;
}
.c-apply__title {
    margin-bottom: 10px;
    color: #000;
    text-transform: uppercase;
    font: 600 0.77778;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.5px;
    padding: 0 15px;
}

@media (min-width: 1025px) {
    .c-apply__title {
        margin-top: -32px;
    }
}

.c-apply__form {
    padding: 10px;
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
}

.c-apply__tags {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.c-apply__tags--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 4px 10px;
    background: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #333;
    font-size: 14px;
    border: 2px solid #e6e6e6;
    text-align: center;
    font-weight: 400;
}

@media (max-width: 767px) {
    .c-apply__tags--item {
        flex-direction: column;
        width: 100%;
        margin-right: 0;
        border-radius: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }
}

.c-apply__tags--item:last-child {
    margin-right: 0;
}

.c-apply__tags--name {
    white-space: nowrap;
}

.c-apply__tags--values {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.c-apply__tags--value {
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 6px;
    white-space: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 767px) {
    .c-apply__tags--value {
        margin-top: 6px;
    }
}

.c-apply__tags--remove {
    font-size: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 6px;
    margin-left: 6px;
    width: 10px;
    height: 10px;
}

.c-apply__tags--remove svg {
    width: 10px;
    height: 10px;
}

.c-apply__tags--remove:hover .icon{
    fill: red;
}

.c-apply__refresh {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-start;
    max-width: 200px;
}